<DOCTYPE html>
    {% load staticfiles %}
    <html lang="en">
        <header>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Home | The RFF</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
            <link href="https://fonts.googleapis.com/css2?family=Bangers&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        </header>
        <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                    <img src="{% static 'imgs/logo.svg' %}">
                    </a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item">Home</a>
                        <a class="navbar-item">About</a>
                        <a class="navbar-item">Perks</a>
                        <a class="navbar-item">Jobs</a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                            <a class="button is-info"><strong>Join Us</strong></a>
                            <a class="button is-light">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
            <section class="section hero is-medium has-text-centered">
                <div class="container">
                <div class="columns">
                    <div class="column is-three-fifths">
                        <div class="apple-masked apple-texture apple-type">
                            <h2>THE RESISTANCE FIGHTING FORCE.</h2>
                        </div>
                    </div>
                    <div class="column">
                        <figure class="image">
                        <img src="{% static 'imgs/peeps.jpg' %}">
                        </figure>                        
                    </div>
                </div>
            </section>
        </body>
    <script src='{% static "js/jquery-3.3.1.min.js" %}' type="text/javascript" crossorigin="anonymous"></script>
    <script async type="text/javascript" src="{% static 'js/hamburger.js' %}"></script>
    <script src='{% static "js/three.min.js" %}' type="text/javascript" crossorigin="anonymous"></script>
    <script src='{% static "js/vanta.globe.min.js" %}' type="text/javascript" crossorigin="anonymous"></script>

</html>

