{% load static %}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
            <img src="{% static 'imgs/logo.svg' %}">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">Home</a>
                <a class="navbar-item">About</a>
                <a class="navbar-item">Perks</a>
                <a class="navbar-item">Jobs</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                    <a class="button is-white is-small">Log in</a>
                    <a class="button is-info is-small is-rounded"><strong>Join Us</strong></a>
                    <a class="button is-small is-warning is-rounded">(Admin) Dash</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>