{% extends 'form_base.html' %}
{% load static %}
{% block content %}
    <section class="section is-fullheight">
        <div class="container mg-top">
            <div class="columns">
                <div class="column is-half card" style="text-align:left">
                    <h1 class="title is-4">
                        {% if title %}{{ title }}{% endif %}
                    </h1>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% include 'base/form.html' with btn_text='Login'%}
                        <div class="field is-grouped">
                            <div class="control">
                                {% if request.user.is_applicant %}
                                    <a href="{% url 'applicant_home' %}" class="button is-warning">Skip</a>
                                {% elif request.user.is_staff %}
                                    {% comment %} To Add {% url 'admin_home' %} here once admin_dash app made. {% endcomment %}
                                    <a href="{% url 'admin_home' %}" class="button is-warning is-rounded is-small">Skip</a>
                                {% endif %} 
                            </div>
                            <div class="control">
                                <input type="submit" value="Create" class="button is-info">
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </section>
{% endblock content %}

