{% extends "admin_dash/base.html" %}

{% block page_title %} Home {% endblock %}

{% block dashcontent %}

<nav class="level is-mobile">
    <div class="level-item has-text-centered box">
        <div>
        <p class="heading">Current Openings</p>
        <p class="title">{{ num_jobs }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered box">
        <div>
        <p class="heading">Applications</p>
        <p class="title">{{ num_apps }}</p>
        </div>
    </div>
</nav>

<div class="columns is-mobile">
    <div class="column is-6 is-fullscreen-mobile">
        <div class="card">
        <header class="card-header">
            <p class="card-header-title">
            Pending Applications
            </p>
        </header>
        <div class="card-table">
            <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Applied Job</th>
                                <th>View</th>
                            </tr>
                        </thead>                    
                        <tbody>
                    {% for p_app in p_apps %}
                        <tr>
                            <td>{{ p_app.applicant.user.name }}</td>
                            <td>{{p_app.job.title}}</td>
                            <td><a href="{% url 'admin_job_info' p_app.job.pk %}">View</a></td>
                        </tr>
                        {% empty %}
                            <p class="subtitle is-5 mb-2">You have no pending applications.</p>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
        </div>
    </div>

    <div class="column is-6 is-hidden-mobile">
        <article class="message is-info">
        <div class="message-header">
            <p>Message from HR</p>
        </div>
            <div class="message-body">
                <b>Organisation's Terms of Service.</b><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
            </div>
        </article>
    </div>
</div>
{% endblock dashcontent %}
    