{% extends "admin_dash/base.html" %}

{% block page_title %} Job List {% endblock %}

{% block dashcontent %}

    <h1>Jobs by Admin</h1><br>
    <table class="table is-fullwidth is-striped is-hoverable">
        <tbody>
            {% for job in job_list %}
            <tr>
                {% if job.team.name == 'Engineering' %}
                <td width="5%"><i class="fa fa-code"></i></td>
                {% elif job.team.name == 'Creative'%}
                <td width="5%"><i class="fa fa-paint-brush"></i></td>
                {% elif job.team.name == 'Operations'%}
                <td width="5%"><i class="fa fa-cogs"></i></td>
                {% elif job.team.name == 'User Growth'%}
                <td width="5%"><i class="fa fa-user-circle"></i></td>
                {% elif job.team.name == 'Product'%}
                <td width="5%"><i class="fa fa-file"></i></td>
                {% endif %}
                <td><a href="{% url 'admin_job_info' job.pk %}">{{ job }}</a></td>
                <td><a class="button is-small is-warning is-rounded" href="{% url 'job_update' job.pk %}">Edit</a></td>
                <td><a class="button is-small is-danger is-rounded" href="{% url 'job_delete' job.pk %}">Delete</a></td>
            </tr>
            {% empty %}
                <h1>You have not Posted Jobs Yet!</h1>
            {% endfor %}
        
        </tbody>
    </table>

{% endblock dashcontent %}
