<DOCTYPE html>
    {% load static %}
    <html lang="en">
        <header>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Home | The RFF</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>        </header>
        <body>
        {% comment %} Inject Common Navbar {% endcomment %}

        {% url 'home' as home_url %}
        {% if request.get_full_path == home_url %}{% include 'base/nav_home.html' %}
        {% else %} {% include 'base/nav.html' %}
        {% endif %}

        {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %}class="notification {{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}  

        {% block content %}

        {% endblock content %}

        </body>
    {% comment %} Inject Common JS FILES {% endcomment %}
    {% include 'base/js_files.html' %}
</html>

